<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.example.tourapp"
      android:versionCode="1"
      android:versionName="1.2">
   <uses-permission
         android:name="android.permission.ACCESS_COARSE_LOCATION" />
   <uses-permission
         android:name="android.permission.ACCESS_FINE_LOCATION" />
   <uses-permission
         android:name="android.permission.INTERNET" />
    <application android:icon="@drawable/icon" android:label="@string/app_name">    
    	<uses-library android:name="com.google.android.maps" />

        <activity android:name=".TourApp" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MapsActivity">
                <action android:name="android.intent.action.MAPSACTIVITY" />
                <category android:name="android.intent.category.LAUNCHER" />
        </activity>
        <activity android:name=".OnLocationMenu">
                <action android:name="android.intent.action.ONLOCATIONMENU" />
                <category android:name="android.intent.category.LAUNCHER" />
        </activity>
        <activity android:name=".GuidedTour">
                <action android:name="android.intent.action.GUIDEDTOUR" />
                <category android:name="android.intent.category.LAUNCHER" />
        </activity>
        <activity android:name="DivisionList">
            
                <action android:name="android.intent.action.DIVISIONLIST" />
                <category android:name="android.intent.category.LAUNCHER" />
            
        </activity>
        <activity android:name="Division">
                <action android:name="android.intent.action.DIVISION1" />
                <category android:name="android.intent.category.LAUNCHER" />
        </activity>
        <activity android:name=".OffLocationMenu">
                <action android:name="android.intent.action.OFFLOCATIONMENU" />
                <category android:name="android.intent.category.LAUNCHER" />
        </activity>
        <activity android:name=".VirtualTour">
                <action android:name="android.intent.action.VIRTUALTOUR" />
                <category android:name="android.intent.category.LAUNCHER" />
        </activity>
        <activity android:name=".Admission">
                <action android:name="android.intent.action.ADMISSION" />
                <category android:name="android.intent.category.LAUNCHER" />
        </activity>

    </application>
</manifest>